:root {
  --color-primary: #ffffff;
  --color-secondary: #f09448;
  --color-danger: #e4022b;
  --color-background: #353535;
  --color-background-secondary: #283446;
  --color-background-translucent: rgba(255, 255, 255, 0.205);
  --text-dark: #333;
  --border-radius: 8px;
}
