:root {
  --color-primario: #ffffff; /* Morado fuerte */
  --color-secundario: #d5e0df; /* Turquesa */
  --color-peligro: #f00f38; /* Rojo para borrar */
  --color-fondo: #010c1a;
  --color-fondo-translucido: rgba(255, 255, 255, 0.205);
  --texto-oscuro: #333;
  --borde-radio: 8px; /* Redondeado estándar para todo */
}
