---
import Layout from "../layouts/Layout.astro";
import TodoList from "../components/todoList.astro";
---

<Layout tittle="To-do-list-pro">
  <main class="bg-translucido w-[400px] p-7 rounded-lg shadow-lg">
    <TodoList />
  </main>
</Layout>
